		<footer>
			<div id="footer-content">
				<div id="company-info">
					<h3>Br. Söderbergs Bygg AB</h3>
					<div>
						<p>Aspövägen 5<br/>760 19 Furusund</p>
						<p>Bergsvägen 36B<br/>181 31 Lidingö<br/>Sverige
							<a tabindex="0" href="https://www.openstreetmap.org/?#map=19/59.369930/18.143706"
								target="_blank"
								rel="noopener">
								<img src="{{ root }}media/icons/location-black.svg" width="18" height="18" alt="Visa på karta"/>
							</a>
						</p>
					</div>
				</div>
				<div id="accolades">
					<img
						src="{{ root }}media/certifikat/sigill.png"
						alt="Sigillet för länets framgångsbolag 2024 från Entreprenörsvärlden; Organisationsnummer 556656-3309"
						height="256"
					/>
				</div>
			</div>
		</footer>
