main {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;

	background-color: var(--color-primary);
}

main a {
	flex: 1 1 auto;
	height: 50vh;
	overflow: hidden;
	padding: 8px;
	box-sizing: border-box;
}

main img {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
	border-radius: 1vmin;
}
